.content_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    align-items: center;
    max-width: 700px;
}

.project_name {
    letter-spacing: 0.3px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}

.project_table td {
    border: 1px solid #000000;
    padding: 5px 10px;
    vertical-align: middle;
}

.project_item_first {
    letter-spacing: 0.3px;
    font-size: 18px;
    font-weight: 700;
}

.project_table {
    margin: 20px auto;
    table-layout: fixed;
    text-align: left;
    width: 70%;
}

.project_link {
    cursor: pointer;
    color: rgb(189, 5, 5);
    font-weight: 900;
}

.project_link:hover {
    color: rgb(163, 6, 6);
}

.project_item_second {
    font-size: 16px;
}