.content_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
    align-items: center;
    max-width: 824px;
}

.project_title {
    font-size: 18px;
    letter-spacing: .2px;
    font-weight: 700;
}

.project_photo {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 15px;
}

.project {
    padding: 5px;
    text-align: center;
    max-width: 420px;
    cursor: pointer;
}

.project:hover {
    border-radius: 15px;
    background: rgb(228, 226, 226);
    margin-top: -5px;
    margin-bottom: 5px;
    transition: .3s;
    transform: scale(1.01);
}

.project_text_container {
    padding: 10px 5px;
}

.project_goal {
    padding-top: 10px;
    font-size: 16px;
}

.project_icon {
    gap: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgb(68, 68, 68);
}

.project_icons {
    gap: 10px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width:724px) {
    .content_section {
        gap: 60px;
    }

    .project_title {
        font-size: 20px;
    }

    .project_text_container {
        padding: 15px 10px;
    }
}