.news_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    max-width: 700px;
    padding-top: 40px;
    gap: 30px;
}


.news_container {
    max-width: 500px;
    display: flex;
    margin: 0px 40px 0px 20px;
    gap: 10px;
    justify-content: center;
}

.news_avatar {
    border-radius: 50%;
}

.news_author_name_date {
    font-weight: 600;
    display: flex;
    gap: 4px;
}

.news_date {
    color: rgb(102, 99, 99);
    font-weight: 500;
}


.news_title {
    padding-top: 5px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 0.3px;
}

.news_text {
    font-size: 16px;
    padding-top: 5px;
}

.news_photo {
    padding-top: 5px;
    border-radius: 5px;
    height: auto;
}

@media (min-width:724px) {
    .news_title {
        font-size: 30px;
    }

    .news_author_name_date,
    .news_text {
        font-size: 18px;
    }
}